@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 15%;
">
        <h1 style="
        color: white;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center;
        padding: 40px;
        border-radius: 5px;
        text-align: center;
        font-size: 100px;
        font-weight: bold;
        width: 100%;
font-family: Algerian;
    ">
            Waddel's Expedition
        </h1>
    </div>
</div>
