<nav class="navbar navbar-expand-lg bg-light navbar-light" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Waddel's</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         Opciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Crucero" asp-action="Index">Cruceros</a></li>
                        <li><a class="dropdown-item" asp-controller="Habitacion" asp-action="Index">Habitaciones</a></li>
                        <li><a class="dropdown-item" asp-controller="Barco" asp-action="Index">Barco</a></li>
                        <li><a class="dropdown-item" asp-controller="Reserva" asp-action="Index">Reservas</a></li>
                        <li><a class="dropdown-item" asp-controller="Crucero" asp-action="Create">M Crucero</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
